* {
  padding: none;
  margin: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #f4f4f4;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    width: 200px;
    margin-right: 10px;
  }
  button {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    width: 100px;
    margin-right: 10px;
    color: white;
    background-color: #222;
  }
}

.card {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;

  .count {
    font-size: 50px;
    border-right: 1px solid #ddd;
    margin-right: 10px;
    padding: 0 10px;
  }

  .card-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .title {
      margin-bottom: -15px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 17px;
      border-bottom: 1px sutset #ddd;
    }
    .about {
      font-size: 16px;
    }
    .link {
      padding: 2px 5px;
      background-color: black;
      color: white;
      text-decoration: none;
      border-radius: 3px;
    }
  }
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
